.about-us__title {
  .section-title();
  margin: 0;
}

.about-us__list {
  .list-reset();
}

.about-us__content {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  font-weight: bold;
}
