.catalog {
  padding-top: 30px;
}

.catalog__list {
  .list-reset();
}

.catalog__item {
  min-height: 374px;
  border: 1px solid #ededed;
  margin-bottom: 30px;
}

.catalog__info {
  padding: 29px 28px 23px;
}

.catalog__item:hover .catalog__info {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.catalog__item:active .catalog__info {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.catalog__item--basket .catalog__info {
  padding-bottom: 28px;
}

.catalog__title-link {
  text-decoration: none;
}

.catalog__link {
  text-decoration: none;
}

.catalog__title {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.catalog__title:hover {
  opacity: 0.6;
}

.catalog__title:active {
  opacity: 0.3;
}

.catalog__button:hover svg {
  opacity: 1;
  fill: #63d1bb;
}

.catalog__button:active svg {
  opacity: 0.3;
  fill: #63d1bb;
}

.catalog__description {
  margin: 0;
  margin-top: 6px;
  font-size: 13px;
  line-height: 30px;
}

.catalog__order-box {
  .flex();
  margin-top: 18px;
  padding-top: 21px;
  border-top: 1px solid #ececec;
  justify-content: space-between;
}

.catalog__price {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.catalog__icon-cart {
  opacity: 0.2;
}

@media (min-width: @tablet-width) {
  .catalog {
    padding-top: 79px;
  }

  .catalog__item {
    .flex();
    margin-bottom: 54px;
    border: none;
    min-height: auto;
  }

  .catalog__link {
    display: block;
    width: 50%;
  }

  .catalog__info {
    width: 50%;
    padding-top: 24px;
    padding-left: 27px;
    border: 1px solid #ededed;
  }

  .catalog__title {
    font-size: 20px;
    padding-right: 36px;
  }

  .catalog__title-link {
    text-decoration: none;
  }

  .catalog__description {
    font-size: 15px;
  }

  .catalog__order-box {
    margin-top: 175px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .catalog__item--basket .catalog__order-box {
    margin-top: 150px;
  }

  .catalog__price {
    font-size: 17px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    padding-top: 130px;
    padding-bottom: 2px;
  }

  .catalog__list {
    .flex();
    justify-content: space-between;
  }

  .catalog__item {
    width: 316px;
    flex-direction: column;
  }

  // .catalog__item:hover .catalog__info {
  //   box-shadow:
  // }

  .catalog__link {
    width: 316px;
    height: 462px;
  }

  .catalog__info {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 25px;
    padding-left: 27px;
  }

  .catalog__title {
    padding-right: 25px;
  }

  .catalog__order-box {
    margin-top: 38px;
    padding-top: 22px;
    padding-left: 0;
  }

  .catalog__item--basket .catalog__order-box {
    margin-top: 14px;
  }

  .catalog__item--basket .catalog__info {
    padding-bottom: 26px;
  }
}
