.catalog-nav__list {
  .list-reset();
}

.catalog-nav__item--interior {
  background-color: #63d1bb;
}

.catalog-nav__item--toys {
  background-color: #56c3b2;
}

.catalog-nav__link {
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
