.contacts {
  padding-top: 32px;
  padding-bottom: 39px;
}

.contacts__title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.contacts__list {
  .flex();
  margin: 0;
  margin-top: 26px;
}

.contacts__item {
  .flex();
}

.contacts__item--mail {
  margin-bottom: 30px;
}

.contacts__mail-link {
  display: block;
  color: #444444;
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;

  &:hover {
    color: #62d1ba;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__term {
  font-size: 15px;
  line-height: 30px;
  margin-right: 31px;
}

.contacts__description {
  margin: 0;
  font-size: 15px;
  line-height: 30px;
}

.contacts__description--adress {
  width: 183px;
}

.contacts__map {
  margin: 0;
  margin-top: 36px;
}

.contacts__button-box {
  margin: 0 30px;
}

.contacts__button {
  width: 100%;
  margin-top: 39px;
}

@media (min-width: @tablet-width) {
  .contacts {
    padding-top: 62px;
    padding-bottom: 43px;
    min-height: 928px;
    position: relative;
  }

  .contacts::before {
    position: absolute;
    content: "";
    width: 55px;
    height: 100px;
    top: 46px;
    right: 45px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
  }

  .contacts__item {
    width: 50%;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__term {
    font-size: 17px;
    margin-right: 25px;
  }

  .contacts__description {
    font-size: 17px;
  }

  .contacts__description--adress {
    width: auto;
  }

  .contacts__mail-link {
    line-height: 29px;
  }

  .contacts__list {
    margin-top: 49px;
  }

  .contacts__map {
    margin-top: 55px;
  }

  .contacts__button-box {
    width: 334px;
    margin: 13px auto;
    padding-left: 52px;
    padding-right: 52px;
  }

  .contacts__button {
    font-size: 17px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    padding-top: 65px;
    padding-bottom: 93px;
    min-height: auto;
  }

  .contacts::before {
    top: 127px;
    left: 114px;
  }

  .contacts .contacts__container {
    width: 525px;
    margin: 0;
    margin-left: 50px;
    padding-left: 175px;
    padding-top: 70px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    letter-spacing: -1px;
  }

  .contacts__list {
    flex-direction: column;
  }

  .contacts__map {
    float: right;
    margin: 0;
    margin-right: 50px;
    margin-top: -326px;
    width: 525px;
    height: 457px;
  }

  .contacts__button-box {
    width: 350px;
    margin-top: 79px;
    margin-left: 167px;
    margin-right: auto;
    padding-left: 58px;
    padding-right: 61px;
  }

  .contacts__button {
    margin-top: 0;
  }

  .contacts__item {
    width: 100%;
  }
}
