.contacts {
  padding-top: 32px;
  padding-bottom: 41px;
}

.contacts .contacts__container {
  width: 100%;
  margin: 0;
}

.contacts__content {
  width: 260px;
  margin: 0 auto;
}

.contacts__title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  position: relative;
}

.contacts__list {
  .flex();
  margin: 0;
  margin-top: 26px;
}

.contacts__item {
  .flex();
}

.contacts__item--mail {
  margin-bottom: 30px;
}

.contacts__mail-link {
  display: block;
  color: #444444;
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;

  &:hover {
    color: #62d1ba;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__term {
  font-size: 15px;
  line-height: 30px;
  margin-right: 31px;
}

.contacts__description {
  margin: 0;
  font-size: 15px;
  line-height: 30px;
}

.contacts__description--adress {
  width: 183px;
}

.contacts__map {
  margin: 0 auto;
  margin-top: 36px;
  width: 320px;
}

.contacts__map iframe {
  border: none;
  width: 320px;
  height: 457px;
}

.contacts__button-box {
  margin: 0 auto;
}

.contacts__button {
  width: 100%;
  margin-top: 36px;
}

@media (min-width: @tablet-width) {
  .contacts {
    padding-top: 62px;
    min-height: 928px;
    position: relative;
  }

  .contacts__content {
    width: 668px;
  }

  .contacts__item {
    width: 50%;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__title::before {
    position: absolute;
    content: "";
    width: 55px;
    height: 100px;
    top: -17px;
    right: -5px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
  }

  .contacts__term {
    font-size: 17px;
    margin-right: 25px;
  }

  .contacts__description {
    font-size: 17px;
  }

  .contacts__description--adress {
    width: auto;
  }

  .contacts__mail-link {
    line-height: 29px;
  }

  .contacts__list {
    margin-top: 49px;
  }

  .contacts__map {
    margin-top: 55px;
    width: 768px;
  }

  .contacts__map iframe {
    width: 768px;
    height: 457px;
  }

  .contacts__button-box {
    width: 334px;
    margin: 13px auto;
    padding-left: 52px;
    padding-right: 52px;
  }

  .contacts__button {
    font-size: 17px;
    margin-top: 40px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    padding-top: 65px;
    padding-bottom: 34px;
    min-height: auto;
  }

  .contacts .contacts__container {
    width: 1050px;
    margin: 0 auto;
  }

  .contacts__title::before {
    top: -8px;
    left: -111px;
  }

  .contacts__content {
    width: 520px;
    vertical-align: top;
    display: inline-block;
    margin: 0;
    padding-left: 174px;
    padding-top: 70px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    letter-spacing: -1px;
  }

  .contacts__list {
    flex-direction: column;
  }

  .contacts__map {
    margin: 0;
    width: 525px;
    height: 457px;
    display: inline-block;
    vertical-align: top;
  }

  .contacts__map iframe {
    width: 525px;
    height: 457px;
  }

  .contacts__button-box {
    width: 230px;
    margin: 0;
    margin-top: -122px;
    padding-left: 0;
    padding-right: 0;
  }

  .contacts__button {
    margin-top: 0;
  }

  .contacts__item {
    width: 100%;
  }
}
