.copyright {
  .flex();
  font-size: 19px;
  line-height: 23px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.copyright__pic {
  fill: #63d1bb;
  margin-left: 27px;
  margin-top: -3px;
}

// ? не работает хевер для лого
.copyright:hover .copyright__pic {
  fill: #46c1ae;
}

.copyright:active {
  opacity: 0.3;
}
