.form-main__title {
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
}

.form-main__intro {
  min-height: 176px;
  background-color: #f1f1f1;
  padding-top: 70px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .form-main__title {
    font-size: 43px;
    line-height: 50px;
  }

  .form-main__intro {
    min-height: 223px;
    padding-top: 93px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 768px;
      height: 27px;
      top: 212px;
      left: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: 768px 27px;
    }
  }
}

@media (min-width: @desktop-width) {
  .form-main__intro {
    min-height: 255px;

    &::before {
      width: 100%;
      top: 232px;
      left: 0;
      background-size: 1150px 44px;
    }
  }

  .form-main__title {
    font-size: 53px;
    line-height: 57px;
  }
}
