.form {
  padding-top: 23px;
}

.form__set {
  margin: 0;
  padding: 0;
  border: 0;
}

.form__set--radio {
  margin-bottom: 18px;
}

.form__set--radio .form__title {
  margin-bottom: 32px;
}

.form__set--radio .form__item {
  padding-bottom: 25px;
}

.form__set--checkbox .form__title {
  margin-bottom: 35px;
}

.form__set--checkbox .form__item {
  padding-bottom: 43px;
}

.form__title {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @accent-color;
  font-weight: bold;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 198px;
    background-color: #62d1ba;
    height: 1px;
    bottom: 9px;
    left: 61px;
  }
}

.form__item {
  margin: 0;
}

.form__label--checkbox,
.form__label--radio {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
  position: relative;
  padding-left: 64px;

  &::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 39px;
    border: 2px solid #444444;
    left: 0;
    top: -11px;
  }
}

.form__label--radio::before {
  border-radius: 50%;
  top: -8px;
}

.form__label--radio::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #62d1ba;
  top: 4px;
  left: 12px;
  display: none;
}

.form__radio:checked + .form__label--radio::after {
  display: block;
}

.form__radio:hover + .form__label--radio::before {
  border-color: #62d1ba;
}

.form__radio:active + .form__label--radio::before {
  border-color: #c7c7c7;
}

.form__checkbox:checked + .form__label--checkbox {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 8px 1px;
}

.form__text::placeholder {
  font-size: 16px;
  line-height: 18px;
  opacity: 0.3;
}

.form__textarea::placeholder {
  opacity: 0.3;
}

.form__required {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}
