.header {
  min-height: 80px;
  border-top: 1px solid #ececec;
  background-color: #ffffff;
}

.header__logo-box {
  margin: 0 auto;
  margin-top: 21px;
  padding-left: 30px;
  padding-right: 30px;
  .flex();
  justify-content: center;
}

.header__logo {
  display: block;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__menu-btn {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 26px;
  right: 36px;
  cursor: pointer;
}

.header__menu-btn .header__pic-cross {
  display: none;
}

.header__menu-btn .header__pic-burger {
  display: block;
}

.header__menu-btn--close .header__pic-cross {
  display: block;
}

.header__menu-btn--close .header__pic-burger {
  display: none;
}

.header__menu--open .header__pic-cross {
  display: block;
}

.header__navigation {
  display: block;
}

.header__site-navigation.header__site-navigation--closed {
  display: none;
}

.header__user-navigation.header__user-navigation--closed {
  display: none;
}

.header__site-navigation,
.header__user-navigation {
  .list-reset();
}

.header__site-navigation {
  margin-top: 22px;
}

.header__site-item,
.header__user-item {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  border-bottom: 1px solid #ececec;
  padding-top: 26px;
  padding-bottom: 28px;
  padding-left: 75px;
  letter-spacing: 0.8px;
}

.header__site-item:first-child {
  border-top: 1px solid #ececec;
}

.header__user-item--search,
.header__user-item--cart {
  position: relative;
}

.header__user-item--search svg,
.header__user-item--cart svg {
  position: absolute;
  top: 31px;
  left: 32px;
  opacity: 0.2;
}

.header__product-navigation {
  display: none;
}

.header__delivery {
  display: none;
}

@media (min-width: @tablet-width) {
  .header {
    border: none;
    min-height: 150px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 22px;
  }

  .header__navigation {
    .flex();
  }

  .header__logo-box {
    margin: 0;
    padding: 0;
  }

  .header__menu-btn {
    display: none;
  }

  .header__site-navigation {
    .flex();
    order: 3;
    margin: 0;
  }

  .header__site-item {
    border: none;
  }

  .header__site-item:first-child {
    border: none;
  }

  .header__user-navigation {
    .flex();
    order: 2;
  }

  .header__user-item {
    border: none;
  }

  .header__user-item--search {
    font-size: 0;
  }

  .header__delivery {
    margin: 0;
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .header__site-navigation {
    order: 1;
  }

  .header__logo-box {
    order: 2;
  }

  .header__user-navigation {
    order: 3;
  }

  .header__product-navigation {
    .list-reset();
    display: block;
  }
}
