.header {
  min-height: 80px;
  border-top: 1px solid #ececec;
  background-color: #ffffff;
}

.header__logo-box {
  margin: 0 auto;
  margin-top: 21px;
  padding-left: 30px;
  padding-right: 30px;
  .flex();
  justify-content: center;
}

.header__logo {
  display: block;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__menu-btn {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 26px;
  right: 36px;
  cursor: pointer;
}

.header__menu-btn .header__pic-cross {
  display: none;
}

.header__menu-btn .header__pic-burger {
  display: block;
}

.header__menu-btn--close .header__pic-cross {
  display: block;
}

.header__menu-btn--close .header__pic-burger {
  display: none;
}

.header__menu--open .header__pic-cross {
  display: block;
}

.header__navigation {
  display: block;
}

.header__site-navigation.header__site-navigation--closed {
  display: none;
}

.header__site-link,
.header__user-link,
.header__product-link {
  color: #000000;
  text-decoration: none;
  display: block;
}

.header__user-navigation.header__user-navigation--closed {
  display: none;
}

.header__site-navigation,
.header__user-navigation {
  .list-reset();
}

.header__site-navigation {
  margin-top: 22px;
}

.header__site-link,
.header__user-link {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  border-bottom: 1px solid #ececec;
  padding-top: 26px;
  padding-bottom: 28px;
  padding-left: 75px;
}

.header__site-link:first-child {
  border-top: 1px solid #ececec;
}

.header__user-item--search,
.header__user-item--cart {
  position: relative;
}

.header__user-item--search svg,
.header__user-item--cart svg {
  position: absolute;
  top: 31px;
  left: 32px;
  opacity: 0.2;
}

.header__product-navigation {
  display: none;
}

.header__delivery {
  display: none;
}

@media (min-width: @tablet-width) {
  .header {
    height: 89px;
    border: none;
    border-bottom: 1px solid #e7e7e7;
    padding-left: 50px;
    padding-right: 50px;
  }

  .header__navigation {
    .flex();
  }

  .header__logo-box {
    margin: 0;
    padding: 0;
    width: 167px;
    margin-right: 153px;
  }

  .header__menu-btn {
    display: none;
  }

  .header__site-navigation {
    .flex();
    order: 3;
    margin: 0;
    font-size: 15px;
  }

  .header__site-link {
    border: none;
    padding: 17px 0;
  }

  .header__site-link:first-child {
    border: none;
    padding-right: 17px;
  }

  .header__user-navigation {
    .flex();
    order: 2;
    width: 348px;
  }

  .header__user-link {
    border: none;
    padding: 0;
  }

  .header__user-item--search .header__user-link {
    font-size: 0;
    width: 84px;
    padding-top: 20px;
    padding-bottom: 45px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }

  .header__user-item--search svg {
    top: 37px;
    left: 32px;
  }

  .header__user-item--cart .header__user-link {
    padding-top: 31px;
    padding-left: 81px;
    text-align: left;
  }

  .header__user-item--cart svg {
    top: 35px;
  }

  .header__delivery {
    margin: 0;
    display: block;
    order: 4;
    padding-top: 17px;
    padding-left: 75px;
    font-size: 15px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .header__site-navigation {
    order: 1;
  }

  .header__site-item:first-child {
    border-right: 1px solid #ececec;
  }

  .header__site-link {
    padding-top: 31px;
    padding-bottom: 33px;
    border: none;
  }

  .header__site-link:first-child {
    padding-right: 36px;
  }

  .header__site-item--knitting .header__site-link {
    padding-left: 34px;
  }

  .header__logo-box {
    order: 2;
    margin: 0;
  }

  .header__user-navigation {
    order: 3;
  }

  .header__product-navigation {
    .list-reset();
    .flex();
    order: 4;
  }

  .header__product-link {
    padding-top: 16px;
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
  }

  .header__product-item--new .header__product-link {
    padding-right: 74px;
  }

  .header__delivery {
    padding: 0;
    padding-top: 16px;
    margin-left: auto;
  }
}
