.main__intro {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  min-height: 282px;
}

.main__title {
  margin: 0;
  color: #000000;
  font-size: 27px;
  line-height: 30px;
}
