body {
  font-family: "Open Sans", "Arial", sans-serif;
  color: @text-color;
  width: 320px;
}

@media (min-width: @tablet-width) {
  body {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  body {
    width: 1150px;
  }
}
