.reviews__title {
  .section-title();
  margin: 0;
}

@media (min-width: @tablet-width) {
  .reviews {
    min-height: 542px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }
}
