.week-product__type {
  .section-title();
  margin: 0;
}

.week-product__title {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: @accent-color;
  text-transform: uppercase;
}

.week-product__paragraph {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
}

.week-product__price {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
}
