.week-product {
  min-height: 826px;
  padding-top: 27px;
}

.week-product__type {
  .section-title();
  margin: 0;
  letter-spacing: 1.3px;
}

.week-product__title {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  margin-top: 5px;
  letter-spacing: 0.6px;
  color: @accent-color;
  text-transform: uppercase;
}

.week-product__paragraph {
  margin: 0;
  margin-top: 23px;
  font-size: 15px;
  line-height: 24px;
}

.parameters.week-product__parameters {
  margin-top: 18px;
}

.week-product__image {
  display: block;
  margin-top: 28px;
}

.week-product__price {
  margin-top: 24px;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
}

.week-product__button {
  margin-top: 26px;
}
